:host {
    --_d: var(--density-badge, var(--density, 1));
}
@layer components {
    :host([data-slot="badge"]) {
        padding-inline: calc(0.625rem * var(--_d));
        padding-block: calc(0.125rem * var(--_d));
    }
}
