:host {
    --_d: var(--density-menu, var(--density, 1));
}
@layer components {
    [data-slot="menubar"] {
        height: calc(2.5rem * var(--_d));
        gap: calc(0.25rem * var(--_d));
        padding: calc(0.25rem * var(--_d));
    }
}
