:host.animate-shimmer {
  background: #f6f7f8;
  background: linear-gradient(to right, #f6f7f8 8%, #edeef1 18%, #f6f7f8 33%);
  background-size: 800px 104px;
  animation: shimmer 2s linear infinite forwards;
}
.dark .animate-shimmer {
    background: #1e293b;
    background: linear-gradient(to right, #1e293b 8%, #0f172a 18%, #1e293b 33%);
    background-size: 800px 104px;
}
@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}
@media (prefers-reduced-motion: reduce) {
  :host.animate-shimmer,
  .animate-shimmer {
    animation: none;
  }
}
