:host {
    --_d: var(--density-picker, var(--density, 1));
    --density-button: var(--_d);
    --density-select: var(--_d);
}
@layer components {
    ui-select-trigger {
        --ui-select-trigger-h: 1.75rem;
    }
    
    [data-slot="calendar-filler"] {
        height: calc(2.25rem * var(--_d));
        width: calc(2.25rem * var(--_d));
    }
}
