:host {
    --_d: var(--density-input, var(--density, 1));
}
@layer components {
    [data-slot="input-otp-slot"] {
        height: calc(2.5rem * var(--_d));
        width: calc(2.5rem * var(--_d));
    }
}
