:host {
    --_d: var(--density-button, var(--density, 1));
}
[data-slot="pagination-link"][data-size="default"] {
    height: calc(2.25rem * var(--_d));
    padding-inline: calc(1rem * var(--_d));
    padding-block: calc(0.5rem * var(--_d));
}
[data-slot="pagination-link"][data-size="sm"] {
    height: calc(2rem * var(--_d));
    padding-inline: calc(0.75rem * var(--_d));
}
[data-slot="pagination-link"][data-size="lg"] {
    height: calc(2.5rem * var(--_d));
    padding-inline: calc(2rem * var(--_d));
}
[data-slot="pagination-link"][data-size="icon"] {
    height: calc(2.25rem * var(--_d));
    width: calc(2.25rem * var(--_d));
}
