:host {
    --_d: var(--density-radio, var(--density, 1));
}
@layer components {
    [data-slot="radio-group-item"] {
        height: calc(1rem * var(--_d));
        width: calc(1rem * var(--_d));
    }
    
    [data-slot="radio-group-item"] span span {
        height: calc(0.625rem * var(--_d));
        width: calc(0.625rem * var(--_d));
    }
}
